<h1>モンスターいちらん</h1>
<p>なまえ　　しゅぞく</p>
<% @monsters.each do |monster| %>
  <p>
    <%= monster.name %>
    <%= monster.tribe %>
    <%= link_to "おわかれする", monster_path(monster), method: :delete, data: { confirm: "ほんとうにおわかれしますか？"} %>
    <%= link_to "なまえをかえる", edit_monster_path(monster), mothod: :get %>
  </p>
<% end %>
<%= link_to "モンスターとうろくのしょへ", new_monster_path %>
