<div class = "container">
  <%= form_for @brave, url:"/braves/#{@brave.id}", html:{method: :patch} do |f| %>
    <h2 class="brave-edit">勇者編集</h2>
    <p>勇者名：<%= f.text_field :name %></p>
    <p>lv：<%=  f.text_field :level %></p>
    <p>HP：<%=  f.text_field :hp %></p>
    <p>MP：<%=  f.text_field :mp %></p>
    <input type = "submit" value = "保存" class = "btn btn-primary">
  <% end %>
</div>
